extends layout

block content
  h1 welcome!
  h2 explore
  ul
    li
      a(href='read') wiki root directory
  h2 get help
  h3 about the project
  ul
    li
      a(href='http://github.com/paufraces/wiki')
        | http://github.com/paufraces/wiki
  h3 about the markup
  ul
    li
      a(href='http://daringfireball.net/projects/markdown/syntax')
        | http://daringfireball.net/projects/markdown/syntax
