extends layout

block stylesheets
  link(
    rel='stylesheet'
    href='http://yandex.st/highlightjs/7.1/styles/vs.min.css')

block javascripts
  script(src='/javascripts/ui.js')

block content
  div(ondblclick='ui.edit()')
    !{content}
